// Menu
// Styles for Menus and Navs
// --------------------------------------------------

// Main Menu
// --------------------------------------------------
#main-menu {
  ul.menu {
    > li {
      > a {
        text-shadow: none;
        &:hover,
        &.active {
          color: $white;
        }
      }
      &.active-trail {
        > a {
          color: $white;
        }
      }
    }
  }
}


// Navbar
// --------------------------------------------------
.navbar {
  .navbar-inner {
    @include border-radius(0 0 4px 4px);
  }
}