// Layout: Menus
// -----------------------------------------------------------------------------
.layout--menus {
  .layout__region--left {
    @include bp(md) {
      padding-right: 0;
    }
  }
  .layout__region--content {
    border-left: 1px solid $brand-primary;
    min-height: 400px;
  }
}

// Node: Menu
// -----------------------------------------------------------------------------
.node--menu {
  .menu__image {
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
      @include border-radius(2px);
    }
  }
  .menu__one-liner {
    display: block;
  }
  .menu__types {
    border-color: rgba($brand-primary, 0.5);
  }
  .menu__type {
    margin-top: 8px;
    .menu__type__type {
      font-size: 0.85em;
    }
    .menu__type__price {
      font-weight: 400;
      font-size: 1.2em;
      float: right;
      sup {
        font-weight: 300;
        font-size: 0.60em;
      }
    }
  }
  .menu__nutrition-types {
    font-size: 0.85em;
    margin-bottom: 10px;
    @include clearfix();
    > div {
      display: inline-block;
      margin: 0 8px 5px 0;
    }
  }

  // Featured menu.
  &--featured {
    .menu__wrapper {
      border: 1px solid $brand-primary;
      padding: 8px;
    }
  }

  // View mode: Grid.
  &--view-mode--grid {
    .menu__image {
      margin-bottom: 10px;
    }
  }

  // View mode: Grid Featured.
  &--view-mode--grid-featured {
    .menu__title {
      font-size: 20px;
      line-height: 28px;
    }
  }

  // View mode: Featured.
  &--view-mode--featured {
    .menu__wrapper {
      padding: 0;
      position: relative;
      @include border-radius(2px);
    }
    .menu__image {
      img {
        @include border-radius(0px);
      }
    }
  }
}

// Menu Categories
// -----------------------------------------------------------------------------
.term--menu-categories {
  &--view-mode--navigation {
    position: relative;
    &:after {
      @include fading-border(bottom);
    }
    &:first-child {
      @include box-shadow(linear-gradient(to right, transparent, rgba($brand-primary, 0.1), rgba($brand-primary, 0.5) 50%));
      &:before {
        @include fading-border(top);
      }
    }
    a {
      display: block;
      font-family: $font-secondary;
      font-size: 15px;
      line-height: 18px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: 45px;
      @include hover() {
        color: $brand-secondary;
        background-color: rgba($brand-secondary, 0.1);
      }
      img {
        margin-right: 10px;
        vertical-align: middle;
      }
    }
  }

  &.active {
    a {
      color: $brand-secondary;
      background-color: rgba($brand-secondary, 0.1);
    }
  }
}

// View: Menu Categories
// -----------------------------------------------------------------------------
.view--menu-categories--menu-categories {
  margin-top: 50px;
  &.stuck {
    position: fixed;
    top: 0px;
    width: 229px;
  }
}

// View: Menus
// -----------------------------------------------------------------------------
.view--menus--all-menus {
  > .view__content {
    > .container {
      margin-bottom: 40px;
      position: relative;
      &:after {
        @include fading-border(bottom);
      }
      > .row {
        position: relative;
      }
    }
  }
  .term, .node {
    margin-bottom: 40px;
  }
}